@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.cl-userButtonPopoverCard,
.cl-card,
.cl-userButton-popover,
.cl-navbar {
  background-color: hsl(var(--popover));
  border-color: hsl(var(--input));
  color: hsl(var(--foreground));
}

.cl-card {
  overflow: hidden;
}

.cl-userPreviewSecondaryIdentifier,
.cl-userButtonPopoverActionButtonText,
.cl-userButtonPopoverActionButtonIconBox,
.cl-userButtonPopoverActionButtonIcon,
.cl-userButtonPopoverActionButtonIcon__manageAccount,
.cl-headerSubtitle,
.cl-profileSectionTitle,
.cl-profileSectionPrimaryButton,
.cl-profileSectionPrimaryButton__password,
.cl-navbarButton,
.cl-navbarButton__account,
.cl-accordionTriggerButton,
.cl-accordionContent,
.cl-accordionContent p,
.cl-profileSectionContent.cl-profileSectionContent__activeDevices,
.cl-profileSectionContent.cl-profileSectionContent__danger,
.cl-dividerText,
.cl-footerActionText,
.cl-formFieldInputShowPasswordIcon,
.cl-breadcrumbsItemBox p,
.cl-breadcrumbsItemBox a,
.cl-form p,
.cl-page span,
.cl-page p {
  color: hsl(var(--muted-foreground));
}
.cl-dividerLine,
.cl-formFieldInput {
  background-color: hsl(var(--muted-foreground) / 0.9);
}

.cl-navbarButton.cl-navbarButton__account.cl-active,
.cl-formFieldLabel,
.cl-footerActionLink,
.cl-footerActionLink:hover {
  color: hsl(var(--foreground));
}

.cl-navbarMobileMenuButton,
.cl-headerTitle,
.cl-headerTitle p,
.cl-headerTitle span,
.cl-profileSectionTitleText,
.cl-badge {
  color: hsl(var(--foreground));
}

.cl-userButtonPopoverFooter,
.cl-internal,
.cl-card.cl-card > :last-child {
  opacity: 0;
}

.cl-profileSectionTitle {
  border-bottom: 1px solid hsl(var(--muted-foreground));
}

button.cl-modalBackdrop {
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.cl-modalCloseButton {
  color: hsl(var(--primary));
}
.cl-modalCloseButton:hover,
.cl-modalCloseButton:focus {
  color: hsl(var(--primary) / 0.9);
}

.cl-userButtonPopoverActions button:hover,
.cl-userButtonPopoverActions button:focus,
.cl-page button:hover,
.cl-page button:focus {
  background-color: hsl(var(--muted) / 0.5);
}

.cl-formButtonPrimary {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}
.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus {
  background-color: hsl(var(--primary) / 0.9);
  color: hsl(var(--primary-foreground) / 0.9);
}
.cl-avatarImageActionsRemove {
  color: hsl(var(--destructive));
}
.cl-avatarImageActionsUpload {
  color: hsl(var(--primary));
}

button.cl-formButtonReset,
button[data-localization-key='userProfile.formButtonReset'] {
  background-color: hsl(var(--destructive));
  color: hsl(var(--foreground));
}
button:hover.cl-formButtonReset,
button:focus.cl-formButtonReset,
button[data-localization-key='userProfile.formButtonReset']:hover,
button[data-localization-key='userProfile.formButtonReset']:focus {
  background-color: hsl(var(--destructive) / 0.9);
  color: hsl(var(--foreground));
}

.cl-profileSectionContent.cl-profileSectionContent__activeDevices p,
.cl-profileSectionContent.cl-profileSectionContent__danger p {
  color: hsl(var(--muted-foreground));
}
.cl-profileSectionContent.cl-profileSectionContent__activeDevices span + p,
.cl-profileSectionContent.cl-profileSectionContent__danger span + p {
  color: hsl(var(--foreground));
}

.cl-socialButtonsIconButton {
  border: 1px solid hsl(var(--muted-foreground));
  transition: background-color ease-out 350ms;
}

.cl-socialButtonsIconButton:hover {
  background-color: hsl(var(--muted-foreground));
}
